{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "prettier", "plugin:@typescript-eslint/recommended"],
  "plugins": ["prettier", "react-hooks", "@typescript-eslint/eslint-plugin"],

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },

      "webpack": {
        "config": "webpack.config.shared.js"
      }
    }
  },

  "rules": {
    "prettier/prettier": ["error"],
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".tsx"] }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"]
  },

  "globals": {
    "document": true,
    "window": true
  }
}
